<h1 id="tariff-comparison">Tariff Comparison</h1>
<p>This project calcule Tariffs over multiples products, beyond upload files to batch processing.</p>
<h1 id="how-to-run-locally">How to Run Locally</h1>
<h2 id="pre-requisites-skip-if-already-installed-">Pre Requisites (Skip if already installed =) )</h2>
<ul>
    <li>Git: <a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git">Install Git</a></li>
    <li>docker: <a href="https://docs.docker.com/get-docker/">Install Docker CLI</a></li>
    <li>docker-compose: <a href="https://docs.docker.com/compose/install/">Install Docker Compose</a></li>
</ul>
<h2 id="getting-started">Getting Started</h2>
<ol>
    <li>Create a folder to put all projects:
        <pre><code class="lang-sh">$ <span class="hljs-built_in">mkdir</span> tariff-comparison
</code></pre>
    </li>
    <li>Change Directory:
        <pre><code class="lang-sh">$ <span class="hljs-built_in">cd</span> tariff-comparison/
</code></pre>
    </li>
    <li>Clone repository:
        <pre><code class="lang-sh">$ git <span class="hljs-keyword">clone</span> <span class="hljs-title">git</span>@bitbucket.org:vic_soares/architecture.git
</code></pre>
    </li>
    <li>Change Directory:
        <pre><code class="lang-sh">$ <span class="hljs-built_in">cd</span> architecture/
</code></pre>
    </li>
    <li>Start Script:
        <pre><code class="lang-sh">$ ./<span class="hljs-literal">start</span>.sh
</code></pre>
    </li>
    <li>Wait a minute to finish the deploy, after that, open in your preffered browser: <a
            href="http://localhost:8000/ui-common">User Interface</a>
        <pre><code>Username: <span class="hljs-keyword">user</span>
<span class="hljs-title">Password</span>: user
</code></pre>Obs:
    </li>
    <li>Maybe will be necessary give permissions to current user to run ./start.sh.
        <pre><code class="lang-sh">$ chmod +x ./<span class="hljs-literal">start</span>.sh
</code></pre>
    </li>
    <li>If you get some error to run, check if the following port are already in use:
        [3000, 4000, 8000, 8080, 7070, 27017, 4566]<h1 id="documentation">Documentation</h1>
    </li>
    <li><a href="architecture/doc/Arch-Consolidation.ppt">Appresentation</a></li>
    <li><a href="architecture/collection/TariffComparison.postman_collection.json">Collection Postman</a></li>
</ol>
<h1 id="tecnologies">Tecnologies</h1>
<h4 id="architecture">Architecture</h4>
<ul>
    <li>Kubernetes</li>
    <li>Docker</li>
    <li>Rancher</li>
    <li>Amazon Web Services</li>
    <li>NGINX</li>
    <li>Terraform<h4 id="microservice">Microservice</h4>
    </li>
    <li>NodeJS</li>
    <li>Javascript</li>
    <li>Express</li>
    <li>Mongo DB</li>
    <li>Amazon AWS<h4 id="gateway">Gateway</h4>
    </li>
    <li>NodeJS</li>
    <li>Keycloak</li>
    <li>JWT Security</li>
    <li>Roles</li>
    <li>Authorization / Authentication</li>
    <li>Routes</li>
    <li>Microservices<h4 id="backend-for-frontend">Backend for Frontend</h4>
    </li>
    <li>NodeJS</li>
    <li>Express Gateway</li>
    <li>TypeScript</li>
    <li>Apollo Server</li>
    <li>Graphql<h4 id="frontend">Frontend</h4>
    </li>
    <li>NodeJs</li>
    <li>React JS</li>
    <li>Bootstrap</li>
    <li>Apollo Client</li>
    <li>Graphql</li>
    <li>Keycloak</li>
    <li>Authentication<h2 id="overview">Overview</h2>
        Quick architecture overview.
        <img src="doc/Overview.png" alt="Overview">
    </li>
</ul>